@model IList<Planeta>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Planetas</h1>


@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data Descoberta</th>
        <th>Tempo de Rotação</th>
        <th>Galáxia</th>
        <th>Atmosfera</th>
        <th>Tipo de Planeta</th>
        <th>Habitável</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.DataDescoberta</td>
            <td>@item.TempoRotacao</td>
            <td>@item.Galaxia</td>
            <td>@item.Atmosfera</td>
            <td>@item.Tipo</td>
            <td>@(item.Habitavel?"Sim":"Não")</td>
            <td>
                <a asp-action="editar" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Alterar</a>
                <a asp-action="excluir" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
    }
</table>
<a asp-action="cadastrar" class="btn btn-outline-success">Cadastrar</a>